html {
    font-family: 'Roboto Slab', sans-serif;
}

body {
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

#animation {
    height: 50%;
}

#content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

#name {
    font-size: 4em;
    margin: 0 0 16px 0;
    text-align: center;
}

#button-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

#button-list li {
    display: inline-block;
    margin: 0.25rem;
}

#button-list a {
    border: solid 1px #ffffff;
    border-radius: 50%;
    display: table-cell;
    color: inherit;
    font-size: 1.75em;
    height: 5rem;
    width: 5rem;
    vertical-align: middle;
    text-align: center;

    transition: all 0.2s ease-in-out;
}

#button-list a:hover {
    background-color: #ffffff25;
    font-size: 2.25em;
}